<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>
    <nav class="nav">
        <h2 class="nav__link">
            <a href="/">Home</a>
        </h2>
        <h2 class="nav__link">
            <a href="/auth/login">Login</a>
        </h2>
        <h2 class="nav__link">
            <a href="/auth/register">Regist.</a>
        </h2>
        <h2 class="nav__link">
            <a href="/characters">Charac.</a>
        </h2>
        <h2 class="nav__link">
            <a href="/">C.Det.</a>
        </h2>
        <h2 class="nav__link">
            <a href="/movies">Mov.</a>
        </h2>
        <h2 class="nav__link">
            <a href="/">Mov.Det.</a>
        </h2>
    </nav>  
    <div class="div">
        <h1 class="div__h1">Principal Page :o</h1>
    </div>
</body>
</html>